
.Card{
  margin-top: 20px;
  width: 23%;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.Card:hover{
  box-shadow: 0 0 5px rgba(0,106,218,.8);
}

.btn{
  margin: 0 auto;
  display: block;
}


.cardWrapper{
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card-img-wrap{
  height: 200px;
  width: 100%;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #E9ECEF;
}



.card-img{
  margin: auto;
  max-height: 100%;
  width: auto;
}

.card-title{
  height: 50px;
}



 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  


}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  
  .Card{
    width: 30%;
  }

  .card-title{
    font-size: 1.2rem;;
  }

}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .Card{
    width: 48%;
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 .card-img-wrap{
    height: 130px;
    padding: 10px;
    border-bottom: 1px solid #E9ECEF;
  }

 .card-title{
    font-size: 1rem;;
  }


}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}